$colors: (
  primary: (
    #2f52ed,
    #2f52ed,
  ),
  secondary: (
    #303036,
    #fffaff,
  ),
  success: (
    #2fbf71,
    #6bdd9a,
  ),
  danger: (
    #fc5130,
    #fc5130,
  ),
  info: (
    #2fd4ed,
    #2fd4ed,
  ),
  warning: (
    #ed9b2f,
    #ffd166,
  ),
  system: (
    #2f8bed,
    #30bced,
  ),

  text-color: (
    #050401,
    #fffaff,
  ),

  background-color: (
    #fffaff,
    #050401,
  ),
);

$config: (
  brightness: (
    offset-brighten: (
      15,
      0,
    ),
    // List type possible
    offset-dim:
      (
        -10,
        0,
      ),
    // List type possible
    saturation-brighten:
      (
        0,
        0,
      ),
    // List type possible
    saturation-dim:
      (
        0,
        0,
      )
      // List type possible,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  ),
  relative-light-limit: true,
  gray: (
    saturation: 5%,
    // List type possible
    hue:
      (
        #5a67d8,
        #5a67d8,
      )
      // List type possible,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  ),
);

$palettes: (
  primary: (
    lighten: #b79eff,
    darken: #121212,
  ),
  secondary: (
    lighten: #b79eff,
    darken: #121212,
  ),
  warning: (
    lighten: #fff5e0,
    darken: #ff8800,
  ),
  danger: (
    lighten: #ffe6ed,
    darken: #e60050,
  ),
  success: (
    lighten: #e4f9e6,
    darken: #3fa863,
  ),
  info: (
    lighten: #e2f7fc,
    darken: #009ec2,
  ),
);

$colors-vars-mode: true;
