$colors: (
  primary: #15deb6,
  secondary: #3d3931,
  success: #cce678,
  danger: #e6787d,
  info: #4bafee,
  warning: #eee84b,
  system: (
    #c6530c,
    #ef8646,
  ),
  text-color: (
    #313338,
    #f8f9ff,
  ),
  background-color: (
    #f8f9ff,
    #313338,
  ),
);

$config: (
  brightness: (
    offset-brighten: (
      15,
      0,
    ),
    // List type possible
    offset-dim:
      (
        -10,
        0,
      ),
    // List type possible
    saturation-brighten:
      (
        0,
        0,
      ),
    // List type possible
    saturation-dim:
      (
        0,
        0,
      )
      // List type possible,,,,,
  ),
  relative-light-limit: true,
  gray: (
    saturation: 20%,
    // List type possible
    hue: #15deb6,
    // List type possible,,,,
  ),
);

$palettes: (
  primary: (
    lighten: #e8f2c7,
    darken: #4c5d15,
  ),
  secondary: (
    lighten: #f5f3e6,
    darken: #2a2925,
  ),
);

// Inverse mode
$inverse-mode: false;

$colors-vars-mode: true;
