@use "./meta" as un-meta;
@use "sass:meta";
@use "sass:map";
@use "sass:color";
@use "sass:list";

/*
*   Retrieves configuration from configuration file of active theme by path project/themes/THEME_NAME.css
*   It depends on the chosen theme for rendering
*/
$theme: () !default;

@if list.length(map.keys($theme)) ==0 {
  @warn "Ungic SASS theme module must be configured before use. Just use this module as `@use 'ungic-theme' with ($theme: meta.module-variables(THEME-CONFIG));`";
}

/*
*   This is if the second run for inversion colors
*/
$default-inverse-mode: map.get($theme, inverse-mode);

@if not map.has-key($theme, colors) {
  @warn "'colors' are required for ungic SASS theme module!";
}
$source-colors: map.get($theme, colors);

$palettes: map.get($theme, palettes);
$colors-vars-mode: map.get($theme, colors-vars-mode);

@if not map.has-key($theme, config) {
  @warn "'config' are required for ungic SASS theme module!";
}
$config: map.get($theme, config);